.form-container{
    margin-bottom: 80px;
    margin-top: 170px;
    color: white;
}
.form-group{
    margin-top: 2vw;
    margin-bottom: 2vw;
    display:flex;
    flex-flow:column;
}
.form-input{
    padding:6px;
     border-radius:6px;
}
.text-danger{
    color: #E83A78;
}
.gray-text{
    color:gray
}
.flex{
    display: flex;
    justify-content: space-evenly;
}

.city-margin-top {
    margin-top: 0rem;
  }
  
  /* Media query for screens less than 992px */
  @media (max-width: 991px) {
    .city-margin-top {
      margin-top: 1.5rem;
    }
  }