@import 'bootstrap/dist/css/bootstrap.min.css';
@import './styles/welcomePage.css';
@import './styles/Footer.css';
@import './styles//Header.css';
@import './styles//DropDownButton.css';
@import './styles//ContactForm.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: linear-gradient(180deg, #1A1A1B 0%, #323233 47.92%, #6A6A6B 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
